# Общие исключения
.DS_Store
Thumbs.db
*.log
logs/
*.swp
*.tmp

# Переменные окружения
.env
.env.local
.env.*.local

# Фронтенд
/client/node_modules/

# SoulSpell
/plugins/SoulSpell/target/
/plugins/SoulSpell/.idea/

# ApplicationsBot
/plugins/ApplicationsBot/target/
/plugins/ApplicationsBot/.idea/

# IDE и редакторы
.idea/
.vscode/
*.bak
*.old
