# Общие исключения
.DS_Store
Thumbs.db
*.log
logs/
*.swp
*.tmp

# Переменные окружения
.env
.env.local
.env.*.local

# Фронтенд
/client/node_modules/
client/build/
client/dist/

# Бэкенд
/node_modules/
dist/
build/

# IDE и редакторы
.idea/
.vscode/
*.bak
*.old
